@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}


.game-container {
  display: grid;
  height: 100vh;
  background-color: pink;
  justify-content: center;
  align-items: center;
}

.game-header {
  height: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-header > h1 {
  font-size: 50px;
}

.game {
  background-color: black;
  width: 700px;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.cell:hover {
  background-color: blueviolet;
}

.mark {
  font-size: 100px;
  font-family: 'Orbitron', sans-serif;
}


.mark-red {
  color: #f700ff;
  text-shadow: 
    0 0 5px #f700ff, 
    0 0 10px #f700ff, 
    0 0 20px #f700ff, 
    0 0 40px #f700ff, 
    0 0 80px #f700ff;
}

.mark-blue {
  color: #00f6ff;
  text-shadow: 
    0 0 5px #00f6ff, 
    0 0 10px #00f6ff, 
    0 0 20px #00f6ff, 
    0 0 40px #00f6ff, 
    0 0 80px #00f6ff;
}

.gameover-modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.gameover-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameover-message {
  color: white;
  font-size: 100px;
}

.reset-button {
  width: 100px;
  height: 50px;
  background-color: white;
}